.Hero{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.Hero__Subtitle{
    font: var(--headline5);
}

.Hero__Title{
    font: var(--headline3);
    margin: 0;
}

.Hero__Caption{
    font: var(--body1);
    margin: 0;
    max-width: 414px;
}

.Hero__Contact{
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.Hero__Avatar, .Hero__Avatar img{
    width: 100%;
    max-width: 328px;
    vertical-align: bottom;
}


@media screen and (min-width: 769px){
    .Hero{
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .Hero__Avatar, .Hero__Avatar img{
        max-width: 460px;
    }
}